<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Dashboard</title>
  <meta name="description" content="Dashboard">
  <meta name="author" content="SitePoint">

  <!-- link rel="stylesheet" href="css/styles.css?v=1.0" -->
  <style type="text/css">
        body {
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
          font-weight: 400;
          overflow-x: hidden;
          overflow-y: auto;
        }
      table {
        width: 80%;
        font-size: 34px;
        text-align: right;
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
      }
      h2 {
        background-color: #686883;
        color: white;
        padding: 10px;
        font-size: 30px;
      }
      th {
        border-bottom: solid 1px gray;
      }
      tr:nth-child(even) {
        background: #eee;
      }
      .align-left {
        text-align: left;
      }
      .align-center {
        text-align: center;
      }
  </style>

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <!-- script src="js/scripts.js"></script -->
  <layout-placeholder name="content"/>
</body>
</html>